name: Main Workflow

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Extract Environment from tfvars
      run: |
         ENVIRONMENT=$(awk -F'Environment[[:space:]]*=[[:space:]]*' '{print $2}' terraform.tfvars | tr -d '"')
         ENVIRONMENT=$(echo "$ENVIRONMENT" | tr -d '[:space:]')
         echo "Environment: $ENVIRONMENT"
         echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV


    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      
    environment: ${{ env.ENVIRONMENT }}
    env: 
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    - name: Set up Azure CLI
      run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}

  
