name: Terraform Apply

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment: [dev, prod, perf]

    env:
      ENVIRONMENT: ${{ matrix.environment }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Install Azure CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y azure-cli

    - name: Set up Azure CLI
      uses: azure/login@v1.5.0
      with:
        creds: ${{ secrets[format('AZURE_CREDENTIALS_{0}', env.ENVIRONMENT)] }}

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -var-file=terraform.tfvars

      env:
        ARM_CLIENT_ID: ${{ secrets[format('ARM_CLIENT_ID_{0}', env.ENVIRONMENT)] }}
        ARM_CLIENT_SECRET: ${{ secrets[format('ARM_CLIENT_SECRET_{0}', env.ENVIRONMENT)] }}
        ARM_SUBSCRIPTION_ID: ${{ secrets[format('ARM_SUBSCRIPTION_ID_{0}', env.ENVIRONMENT)] }}
        ARM_TENANT_ID: ${{ secrets[format('ARM_TENANT_ID_{0}', env.ENVIRONMENT)] }}
