name: Main Workflow

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Extract Environment from tfvars
      id: extract_environment
      run: |
        ENVIRONMENT=$(awk -F'Environment[[:space:]]*=[[:space:]]*' '{print $2}' terraform.tfvars | tr -d '"')
        ENVIRONMENT=$(echo "$ENVIRONMENT" | tr -d '[:space:]')
        echo "Environment: $ENVIRONMENT"
        echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV
        echo "::set-output name=ENVIRONMENT::$ENVIRONMENT"
        echo "$ENVIRONMENT"

  terraform-apply:
    runs-on: ubuntu-latest
    needs: terraform
    environment: $ENVIRONMENT
    env: 
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Azure CLI Login
      run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
