name: Main Workflow

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Extract Environment from tfvars
      run: |
        ENVIRONMENT=$(grep -oP '(?<=Environment\s*=\s*").*"' terraform.tfvars | tr -d '"')
        echo "Environment: $ENVIRONMENT"
        echo "::set-env name=ENVIRONMENT::$ENVIRONMENT"

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Set up Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        environment: ${{ env.ENVIRONMENT }}

    
