name: Terraform Apply

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set Environment
      run: |
        if [ "$GITHUB_EVENT_NAME" == "push" ]; then
          ENVIRONMENT=$(grep -oP '(?<=environment = ")(.*)(?=")' terraform.tfvars)
          echo "Environment: $ENVIRONMENT"
          export ENVIRONMENT
        fi

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Set up Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -var-file=terraform.tfvars

      env:
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
