name: Main Workflow

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Extract Environment from tfvars
      id: extract_environment
      run: |
        ENVIRONMENT=$(awk -F'Environment[[:space:]]*=[[:space:]]*' '{print $2}' terraform.tfvars | tr -d '"')
        ENVIRONMENT=$(echo "$ENVIRONMENT" | tr -d '[:space:]')
        echo "Environment: $ENVIRONMENT"
        echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV
        echo "::set-output name=ENVIRONMENT::$ENVIRONMENT"

  terraform-apply:
    runs-on: ubuntu-latest
    needs: terraform
    
    environment: ${{ steps.extract_environment.outputs.ENVIRONMENT }}
    env: 
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      
    
    steps:
    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Set up Azure CLI
      run: az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -var-file=terraform.tfvars -auto-approve -var="environment=${{ ENVIRONMENT }}"
