name: Terraform Apply

on: workflow_dispatch
  
jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Install Azure CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y azure-cli
        export PATH=$PATH:/usr/bin/az

    - name: Check Az CLI version
      run: az --version

    - name: Debug Service Principal Credentials
      run: |
        echo "Client ID: ${{ secrets.AZURE_CLIENT_ID }}"
        echo "Client Secret: ${{ secrets.AZURE_CLIENT_SECRET }}"
        echo "Tenant ID: ${{ secrets.AZURE_TENANT_ID }}"

    - name: Azure Login
      run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
      

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -var-file=terraform.tfvars -auto-approve

      
