name: Terraform Apply

on: workflow_dispatch
  
jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Install Azure CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y azure-cli

    - name: Check Az CLI version
      run: az --version

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CLIENT_ID }} ${{ secrets.AZURE_CLIENT_SECRET }} ${{ secrets.AZURE_TENANT_ID }}
        enable-AzPSSession: true
        environment: azurecloud
        allow-no-subscriptions: false
        audience: api://AzureADTokenExchange
      
    - name: Debug Service Principal Credentials
      run: |
        echo "Client ID: ${{ secrets.AZURE_CLIENT_ID }}"
        echo "Client Secret: ${{ secrets.AZURE_CLIENT_SECRET }}"
        echo "Tenant ID: ${{ secrets.AZURE_TENANT_ID }}"



    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -var-file=terraform.tfvars -auto-approve

      
