name: Main Workflow

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform-dev:
    runs-on: ubuntu-latest
    
    outputs:
      environment: ${{ steps.extract_environment.outputs.environment }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Extract Environment from tfvars
      id: extract_environment
      run: |
        ENVIRONMENT=$(awk -F'Environment[[:space:]]*=[[:space:]]*' '{print $2}' terraform.tfvars | tr -d '"')
        ENVIRONMENT=$(echo "$ENVIRONMENT" | tr -d '[:space:]')
        echo "Environment: $ENVIRONMENT"
        echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV
        echo "::set-output name=environment::$ENVIRONMENT"
        echo "$ENVIRONMENT"

  terraform-apply:
    runs-on: ubuntu-latest
    needs: terraform-dev
    environment: ${{ needs.terraform-dev.outputs.environment }}
    env: 
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Azure CLI Login
      run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}

    - name: Terraform Init
      run: terraform init

    
    - name: Create Container
      uses: dflook/terraform-apply@v1.36
      env:
        AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}