name: Terraform Apply

on: workflow_dispatch
  
jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: testing

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Install Azure CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y azure-cli

    - name: 'Az CLI login'
      uses: azure/login@v1.5.0
      with:
          client-id: ${{ secrets.CLIENTID }}
          client-secret: ${{ secrets.CLIENTSECRET}}
          tenant-id: ${{ secrets.TENANTID }}
          subscription-id: ${{ secrets.SUBSCRIPTIONID }}


    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -var-file=terraform.tfvars -auto-approve

      
