name: Terraform Apply

on:
  push:
    paths:
      - 'terraform.tfvars'

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment: [dev, prod, perf]

    env:
      ENVIRONMENT: ${{ matrix.environment }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Set up Azure CLI
      run: az login --service-principal --username ${{ secrets.AZURE_CLIENT_ID }} --password ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}

    - name: Debug
      run: |
         echo "Selected Environment: $ENVIRONMENT"
         az account show
         az resource show --ids /subscriptions/$ARM_SUBSCRIPTION_ID/resourceGroups

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -var-file=terraform.tfvars -auto-approve


