name: Terraform Apply

on: workflow_dispatch

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [dev, prod, perf]
    environment: ${{ matrix.environment }}
    env: 
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Debug
      run: |
        echo "Selected Environment: $ENVIRONMENT"

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Azure CLI Login
      if: env.ENVIRONMENT == 'dev'
      run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
         
         
    


